@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.wrapper{
    max-width: 1920px;
    font-family: 'Roboto', sans-serif;
}
a{
    color: black;
    text-decoration: none;
}
img{width: 100%;}
a:hover {
    color: rgb(0, 167, 189);
}



header{
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 212, 212);
    padding: 10px 50px;
}
.title {
    display: flex;
}
.icon_belarus {
    width: 60px;
    margin-right: 20px;
}
nav{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}




main {
    padding: 20px 50px;
}
section{
    margin-bottom: 100px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 40px;
}
.column{
    display: block;
    border: 4px solid rgb(255, 212, 212);
    border-radius: 20px;
    padding: 20px;
    max-width: 300px;
}
.description__img{
    width: 250px;
}



.towns {
    display: flex;
    flex-direction: column;
    position: relative;
}
.towns h2 {
    z-index: 20;
}
.storks{
    position: absolute;
    width: 28vw;
    top: 8%;
}
.cornflower {
    position: absolute;
    width: 20vw;
    left: 77%;
    bottom: 1%;
}
.bg_map {
    display: flex;
    justify-content: center;
    max-width: 1920px;
    height: auto;
}
.bg_map img {
    width: 85%;
    margin: -130px 0;
}
.town{
    visibility: hidden;
    position: absolute;
}
.img_town {
    width: 180px;
}
.town span{
    visibility: visible;
    font-size: 2.5vw;
    font-weight: 600;
}
.town:hover {
    visibility: visible;
}
.description_town{
    margin: auto;
    padding: 20px 30px;
    margin: 30px;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    height: 220px;
    width: 300px;
    background-color: white;
    border: 3px solid black;
    border-radius: 20px;
}
.vitebsk{
    left: 50%;
    bottom: 67%;
}
.hrodna{
    left: 24%;
    bottom: 41%;
}
.minsk{
    left: 45%;
    bottom: 51%;
}
.mogilev{
    left: 65%;
    bottom: 45%;
}
.brest{
    left: 25%;
    bottom: 22%;
}
.homiel{
    left: 55%;
    bottom: 20%;
}
.description_town h3 {
    font-size: 36px;
    margin: 0;
}
.gerb {
    width: 70px;
}



.natural{
    position: relative;
}
.bg_forest {
    max-width: 1920px;
    height: auto;
}
.bear img{visibility: visible;}
.bison img{visibility: visible;}
.eagle img{visibility: visible;}
.lynx img{visibility: visible;}
.stork img{visibility: visible;}
.bear:hover{visibility: visible;}
.bison:hover{visibility: visible;}
.eagle:hover{visibility: visible;}
.lynx:hover{visibility: visible;}
.stork:hover{visibility: visible;}
.lynx {
    position: absolute;
    visibility: hidden;
    width: 11vw;
    left: 26%;
    bottom: 0;
}
.eagle {
    position: absolute;
    visibility: hidden;
    width: 11vw;
    left: 63%;
    top: 1%;
}
.stork {
    position: absolute;
    visibility: hidden;
    width: 17vw;
    left: 27%;
    top: 1%;
}
.bear {
    position: absolute;
    visibility: hidden;
    width: 20vw;
    left: 72%;
    bottom: 1%;
}
.bison {
    position: absolute;
    visibility: hidden;
    width: 16vw;
    left: 50%;
    bottom: 3%;
}
.description_animal {
    margin: auto;
    padding: 10px 30px;
    margin: 30px;
    position: absolute;
    z-index: 10;
    height: 24vh;
    width: 17vw;
    background-color: white;
    border: 3px solid black;
    border-radius: 20px;
    font-size: 1vw;
}
.bison .description_animal{
    top: -25vw;
    left: -47vw;
}
.bear .description_animal{
    top: -23vw;
    left: -67vw;
}
.eagle .description_animal{
    top: 2vw;
    left: -59vw;
}
.stork .description_animal{
    top: 2vw;
    left: -26vw;
}
.lynx .description_animal{
    top: -30vw;
    left: -25vw;
}